<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles/main.css" />

        <!-- *** INCLUDE HOMEMADE FAVICON *** -->
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

        <title>Summer Book Club</title>
    </head>

    <body>
        <div class="top-links">
            <a class="top-link" href="/" role="button">Sign in</a>
            <a class="top-link" href="/register" role="button">Register</a>
            <a class="top-link" href="/logout" role="button">Sign out</a>
        </div>
        <div class="heading" id="heading">
            <h1><a class="home-link" href="/books" role="button">Summer Book Club</a></h1>
        </div>
